*{
  box-sizing: border-box;
}




/* INDEX */

.first {
  position: relative;
}

.gif-animado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.8);
}

.parrafo p {
  position: relative;
  top: 160px;
}

.fotos-camisetas, .fotos-camisetas img {
  height: 350px;
}

.destacados {
  overflow: hidden;
  background-color: rgba(76, 160, 255,0.5);
}

/* BORDES PARA CAMISETAS XS */
@media (max-width: 574px) {
  .fotos-camisetas {
    border-bottom: solid black 1px;
  }

  .fotos-camisetas:last-child{
    border-bottom: none;
  }

  .fotos-camisetas img {
    padding-bottom: 10px;
    padding-top: 5px;
  }
}

/* BORDES PARA CAMISETAS SM Y MD */
@media (max-width: 992px) and (min-width: 575px) {
  .fotos-camisetas:nth-child(even) {
    border-right: solid black 1px;
  }
}
#formnavbar{
  margin-right: 8px;
}

/* BORDER PARA CAMISETAS LG */
@media (min-width: 993px) {
  .fotos-camisetas {
    border-right: black solid 1px;
  }

  .fotos-camisetas:last-child{
    border-right: none;
  }
}

.promo {
  overflow: hidden;
  background-color: rgba(94, 173, 243, 0.1);
}

.ofertas {
  overflow: hidden;
  background-color: rgba(60,62,64,1);
}


/* LOGIN Y REGISTSER */

.techo{
  background-color: #BBE3F3;
  margin-bottom: 20px;
}
#registerh1{
  color: #000000;
  justify-content: center;
  padding: 20px;
}
#registerh2{
  flex: center;
}
.cuerpo{
  overflow: hidden;
  width: 100%;
}
.cuerpo2{
  width: 50%;
  margin: auto;
  overflow: hidden;
}
.navbar{
  margin: auto;
  padding: 0;
}
.nav{
  margin: auto;
}
.nav-item{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
  width: 30%;
}
.dropdown-menu {
  left: auto;
  right: 5%;
  width: 165%;
}


/* Estilo footer  */
.iconos-footer a i {
  color: white;
}
