*{
  box-sizing: border-box;
}

.first {
  position: relative;
}

.gif-animado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parrafo p {
  position: relative;
  top: 160px;
}

.fotos-camisetas, .fotos-camisetas img {
  height: 350px;
}
